@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');


/**------------------------------------------------------------------General----**/
* {
    margin: 0;
    padding: 0;
    border: 0;
}    

/** Main background image 'white book photo' by Becca Tapert on Unsplash**/
body {
    background: url("../images/body-bg-img.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #c0c1be;
}

.page-heading {
    font-family: 'Courgette', cursive;  
    padding: 40px 0 20px 8px;
}

.message-box {
    padding: 20px 0;
    text-align: center;
}

.text {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.object-btn {
    margin-top: 20px;
    margin-bottom: 50px;
    border: 1px solid #757575;
    color: #757575;
    background: rgba(255, 255, 255, 0.3);
}

/**-------------------------------------------------------------------Header----**/
header {
    padding: 15px 0 20px 0;
    margin-bottom: 50px;
}

.title {
    font-family: 'Courgette', cursive;
}

.navbar-brand {
    margin-right: 0;
}

.nav-link {
    text-align: center;
}

#navbarToggler {
    padding-right: 10px; /**Moves menu items to the left to avoid clashing with background image! **/
    font-family: 'Montserrat', sans-serif;
}

.navbar-toggler {
    margin-right: 0.75rem;
}

/**Active navigation for nav bar**/
.active, .nav-link:hover {
    text-decoration: underline #757575 solid;
}

/**-------------------------------------------------------------------Home Page----**/

.meal-boxes {
    padding-top: 20px;
}

.meal-box {
    padding: 70px 0; 
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /**Set transparent border to add 2px gap between columns**/
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
    position: relative;
}

/**Semi-transparent image overlay**/
.meal-box:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.meal-box p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: white;
}

.meal-button {
    padding: 0;
    text-decoration: none;
}

/**Breakfast image 'berry and nuts' by Dan Counsell on Unsplash**/
.breakfast-box {
    background-image: url("../images/breakfast-bg-img.jpg") ;  
}

/**Lunch image 'vegetable salad in plate' by Louis Hansel on Unsplash**/
.lunch-box {
    background-image: url("../images/lunch-bg-img.jpg");
}

/**Dinner image 'roasted ribs with sliced tomatoes' by Alexandru-Bogdan Ghita on Unsplash**/
.dinner-box {
    background-image: url("../images/dinner-bg-img.jpg");
}

/**-------------------------------------------------------------------Search/Recipes Page----**/

.search-box {
    height: 35px;
}

#recipe-box {
    padding: 0;
}

.recipe-each h4 {
    background: rgba(255, 255, 255, 0.3);
    font-family: 'Courgette', cursive;
    color: black; 
    margin-bottom: 0;
}

.recipe-each a {
    text-decoration: none;
}

.recipe-each p {
    background: rgba(255, 255, 255, 0.3);
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: underline #757575 solid;
}


/* Grow from Hover.CSS by Ian Lunn https://ianlunn.github.io/Hover/ */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
/**-------------------------------------------------------------------Contact Page----**/

.message-success {
    font-size: 24px;
    background: rgba(255, 255, 255, 0.3);
}