* {
    margin: 0;
    padding: 0;
    border: 0;
}    

body {
    background-image: url("../images/body-bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c0c1be;
}