@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');


/**------------------------------------------------------------------General----**/
* {
    margin: 0;
    padding: 0;
    border: 0;
}    

/** Main background image 'white book photo' by Becca Tapert on Unsplash**/
body {
    background: url("../images/body-bg-img.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #c0c1be;
}


/**-------------------------------------------------------------------Header----**/
header {
    padding: 15px 0 20px 0;
    margin-bottom: 50px;
}

.title {
    font-family: 'Courgette', cursive;
}

#navbarToggler {
    padding-right: 10px; /**Moves menu items to the left to avoid clashing with background image! **/
    font-family: 'Montserrat', sans-serif;
}

/**-------------------------------------------------------------------Home Page----**/

.site-message {
    padding: 5px 0 0 8px;
    font-family: 'Courgette', cursive;
}

.message-box {
    height: 100px;
    padding: 20px 0;
    text-align: center;
}

.meal-box {
    padding: 70px; 
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /**Set transparent border to add 2px gap between columns**/
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;  
}

.meal-box p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: white;

}

.meal-button {
    padding: 0;
    text-decoration: none;
}

/**Breakfast image 'berry and nuts' by Dan Counsell on Unsplash**/
.breakfast-box {
    background-image: url("../images/breakfast-bg-img.jpg") ;  
}

/**Lunch image 'vegetable salad in plate' by Louis Hansel on Unsplash**/
.lunch-box {
    background-image: url("../images/lunch-bg-img.jpg");
}

/**Dinner image 'roasted ribs with sliced tomatoes' by Alexandru-Bogdan Ghita on Unsplash**/
.dinner-box {
    background-image: url("../images/dinner-bg-img.jpg");
}